@font-face {
    font-family: 'Corben';
    src: url('/portfolio/polices/Corben-Regular.eot');
    src: url('/portfolio/polices/Corben-Regular.eot?#iefix') format('embedded-opentype'),
        url('/portfolio/polices/Corben-Regular.woff2') format('woff2'),
        url('/portfolio/polices/Corben-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fondamento';
    src: url('/portfolio/polices/Fondamento-Regular.eot');
    src: url('/portfolio/polices/Fondamento-Regular.eot?#iefix') format('embedded-opentype'),
        url('/portfolio/polices/Fondamento-Regular.woff2') format('woff2'),
        url('/portfolio/polices/Fondamento-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
  font-size: 20px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Corben', serif;
  color: white;
}

h1 {
  margin: 0;
  padding: 0;
}

.headerAbout{
  width: 100%;
  height: 640px;
  background-image: url('/portfolio/images/bgHeader.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  z-index: 100;
}

.navbar ul {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.navbar li {
  background-color: rgba(193, 19, 19, 0.7);
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  display: inline;
}

.titleHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 640px;
  width: 100%;
  background-color: rgba(108, 12, 12, 0.5);
  z-index: 50;
  font-family: 'Fondamento', serif;
}
.titleHeader h1 {
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
  margin-left: 5%;
  font-size: 8.5rem;
}

#about {
  display: flex;
  background-color: #595858;
  width: 100%;
  height: auto;
}

#about .imageAbout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
}
#about img{
  object-fit: cover;
  position: absolute;
  height: 75%;
}

.descritpionBox {
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-image: url('/portfolio/images/bgAbout.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 50%;
  color: white;
}

.description {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 50%;
  height: auto;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid white;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
}
.description p {
  font-size: 1.0rem;
}
.description h1{
  font-size: 2rem;
}

#gallery {
  overflow: hidden;
  padding-top: 60px;
  width: 100%;
  height: 70vh;
  background-color: #532a2a;
}

#gallery .titleGallery{
  font-size: 3rem;
  text-align: center;
  font-family: 'Fondamento', serif;
}

.carousel {
  left: 25%;
  display: inline;
  overflow: hidden;
  position: absolute;
  height: 50vh;
}

.carouselItem {
  width: 50%;
  text-align: center;
}

.carousel-item img{
  height: 38vh;
  object-fit: cover;
}

.carousel-caption {
  width: 50%;
  height: 25%;
  bottom: 0;
  left: 25%;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px white solid;
}
/*
.carouselItem.nonActive {
  margin: 0;
  padding: 0;
  opacity: 0%;
  display: none;
  top: 0px;
  left: 25%;
  width: 50%;
  height: auto;
}
.carouselItem.active {
  display: block;
  margin: 0;
  padding: 0;
  opacity: 100%;
  top: 0px;
  left: 25%;
  animation-duration: 3s;
  animation-name: slidein;
  z-index: 2;
}
.carouselItem.goLeft {
  margin: 0;
  padding: 0;
  opacity: 0;
  top: 0px;
  left: 25%;
  animation-duration: 3s;
  animation-name: slideout;
  z-index: 1;
}

.navGallery {
  width: 100%;
  height: 50px;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.circle {
  display: inline-block;
  position: relative;
  z-index: 50;
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.circle:hover {
  background-color: #565353;
}
.circle.active {
  background-color: #565353;
} */

#footer {
  padding-top: 60px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 240px;
  width: 100%;
  background-color: #E66E6E;
}

.gitLogo {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url('/portfolio/images/github.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0);
}
.gitLogo:hover {
  width: 40px;
  height: 40px;
  background-image: url('/portfolio/images/githubWhite.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0);
}

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.edit input.text{
  width: 250px;
}

.titleEdit {
  width: 100%;
  text-align: center;
  color: black;
}

.editUpdate {
  font-size: 15px;
  margin: 25px;
}
.editUpdate td{
  padding-top: 50px;
  text-align: center;
}

/* @keyframes slidein {
  from {
    opacity: 0%;
    left: 75%;
  }

  to {
    opacity: 100%;
    left: 25%;
  }
}

@keyframes slideout {
  from {
    display: block;
    opacity: 100%;
    left: 25%;
  }
  90% {
    display: block;
  }
  to {
    display: none;
    opacity: 0%;
    left: 0%;
  }
} */
